body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    z-index: 1000;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    border-radius: 50%;
    margin-right: 10px;
}
.logo h1 {
    margin: 0;
}
.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.menu a:hover {
    color: #007BFF;
}
.menu button {
    font-size: 16px;
    padding: 5px 15px;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.menu button:hover {
    background-color: #007BFF;
    color: white;
}
.login {
    color: white !important;
    font-size: 12cm;
    display: inline-block;
    padding: 5px 15px;
    background-color: #f44336;
    text-align: center;
    border-radius: 5px;
}
.login:hover {
    background-color: #2683e8;
}
main {
    padding: 20px;
}
.categories {
    display: flex;
    justify-content: space-around;
}
.categories a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.categories a:hover {
    color: #007BFF;
}
.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.ative {
    background-color: transparent;
}
.course-card {
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 320px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-card h3 {
    margin: 10px 0;
    font-size: 18px;
}
.course-card p {
    font-size: 14px;
    color: #555;
    flex-grow: 1; /* Allows description to expand if needed */
}
.course-card button {
    padding: 8px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.course-card button:hover {
    background-color: #0056b3;
}
footer {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}